<div class="row">
  <div class="col-xs-12">
    <img src="" class="img-responsive" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Recipe name</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Use</a></li>
        <li><a href="#">Modify</a></li>
        <li><a href="#">Remove</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">Desc.</div>
</div>
<div class="row">
  <div class="col-xs-12">Ingre.</div>
</div>
